@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 48px;
    text-align: center;
    color: black;
    margin-top: 30px;
}

h1 {
    color: #2E7AD3;
    font-size: 32px;
    margin-bottom: 20px;
}

.content {
    background-color: #F1F1F1;
    width: 500px;
    margin: auto;
    padding: 30px;
    margin-top: 40px;
    text-align: center;

}

img {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

span {
    color: #FF8000;
    text-decoration: underline;
    font-weight: 500;
}



button {
    background-color: #2E7AD3;
    padding: 10px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    /* display: block; */

}

.btn-div {
    text-align: right;
}

footer {
    background-color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer h6 {
    color: white;
    padding: 10px 0;
    text-align: center;
}